                        <h1>Target <%= @target.name %></h1>
                        <p>Manage Provisioning Targets</p>
<!-- <div class="view"> -->
<div>
  	<table>
  		<thead>
  			<th>Attribute</th>
			<th>Value	</th>
  		</thead>

  		<tbody>

			<% @target.attributes.each do |attribute| %> 
			<tr>
			    <td><%= attribute[0] %></td>
			    <td>
<% if attribute[0] == "configuration" %><pre><% end %>
<%= attribute[1].to_s.gsub(/(assw[^=]*=[ ]*)([^\r]*).*$/, '\1*******') unless attribute[1].nil? %>
<% if attribute[0] == "configuration" %></pre><% end %>
			    </td>
			</tr>
			<% end %>
			
			
		</tbody>
	</table>
</div>





