<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @provisioning.action %>
</p>

<%= link_to 'Edit', edit_provisioning_path(@provisioning) %> |
<%= link_to 'Back', provisionings_path %>
