<% 
  # if we happen to reach here, although the file is included already, we return right away...
  return if defined? destroy_button_included

  def destroy_button_included
    true
  end

  render 'shared/helpers.html.erb' unless defined? helpers_included

  def destroy_button
    label='Destroy'

    def myLink(linkLabel = 'Destroy')
      #label='Destroy'
      link_to linkLabel, provisioningobject_path(@provisioningobject), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?\nThis cannot be undone!" }       
    end

    if @provisioningobject.provisioned? || /waiting/.match(@provisioningobject.status) || /progress/.match(@provisioningobject.status)
      if ENV["WEBPORTAL_PROVISIONINGOBJECTS_DESTROY_WO_DEPROVISION"] == "true"
        return myLink
      elsif ENV["WEBPORTAL_PROVISIONINGOBJECTS_HIDE_INACTIVEBUTTONS"] == "false"
        return '<button class= "btn btn-default" onclick="alert(\'De-Provision the item first!\');">' + label + '</button>'
      end          
    else
      return myLink
    end # if @provisioningobject.provisioned? || /waiting/.match(@provisioningobject.status) || /progress/.match(@provisioningobject.status)
  end
%>

