<% render 'shared/helpers.html.erb' %>
<% label="Delete #{@provisioningobject.class.name}" %>

<% if @provisioningobject.provisioned? || /waiting/.match(@provisioningobject.status) || /progress/.match(@provisioningobject.status) %>
<%   unless SystemSetting.webportal_provisioningobjects_hide_inactivebuttons %>
<%     if false %>
<button class= "btn btn-default" onclick="alert('De-Provision the item first!');"><%= label %></button>
<%     else %>
<%= link_to label, provisioningobject_path(@provisioningobject), method: :delete, data: { confirm: "Are you sure?\nThis cannot be undone!" } %>
<%     end %>
<%   end %>
<% else %>
<%= link_to label, provisioningobject_path(@provisioningobject), method: :delete, data: { confirm: "Are you sure?\nThis cannot be undone!" } %>

<% end %>
