<% render 'shared/helpers.html.erb' %>
<% label='Destroy' %>

<% if @provisioningobject.provisioned? || /waiting/.match(@provisioningobject.status) || /progress/.match(@provisioningobject.status) %>
<button class= "btn btn-default" onclick="alert('De-Provision the item first!');"><%= label %></button>
<% else %>
<%= link_to label, provisioningobject_path(@provisioningobject), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?\nThis cannot be undone!" } %>

<% end %>
