<% render 'shared/helpers.html.erb' %>
<% label='Edit' %>

<% if @provisioningobject.provisioned? || /waiting/.match(@provisioningobject.status) || /progress/.match(@provisioningobject.status) %>
<button class= "btn btn-default" onclick="alert('De-Provision the item first!');"><%= label %></button>
<% else %>
<%= link_to label, provisioningobject_path(@provisioningobject, prefix='edit'), class: "btn btn-primary" %>
<% end %>
