<% render 'shared/helpers.html.erb' %>

<% if @provisioningobject.provisioned? || /waiting/.match(@provisioningobject.status) || /progress/.match(@provisioningobject.status) %>
<td><%= link_to 'Edit', '#' , class: "btn btn-default", onclick: "alert('De-Provision the item first!');"   %></td>
<% else %>
<td><%= link_to 'Edit', provisioningobject_path(@provisioningobject, prefix='edit'), class: "btn btn-primary" %></td>
<% end %>
